@use '../variables' as *;

.multi-select {
    .control {
        cursor: pointer;
        min-width: 140px;
        font-size: 14px;
    }

    .option {
        font-size: 14px;
        color: $primaryAnthracite80;
    }
}
