@use '../variables' as *;

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & > * {
        flex: 1 1 auto;
        min-width: auto;
        max-width: $buttonMinWidth;
    }

    span.separator {
        @include buttonSize;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}