@use '../variables' as *;

.status-badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $defaultFontColor;

    & * {
        float: left;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .label {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &.unknown {
        color: $primaryAnthracite70;
    }
}