@use './variables' as *;

:export {
    primaryBlueLight: $primaryBlueLight;
    primaryAnthracite100: $primaryAnthracite100;
    primaryAnthracite80: $primaryAnthracite80;
    primaryAnthracite70: $primaryAnthracite70;
    primaryAnthracite50: $primaryAnthracite50;
    primaryAnthracite25: $primaryAnthracite25;

    secondaryBluePale100: $secondaryBluePale100;
    secondaryBluePale40: $secondaryBluePale40;
    secondaryBluePale30: $secondaryBluePale30;
    secondaryBluePale15: $secondaryBluePale15;
    secondaryBluePale10: $secondaryBluePale10;
    secondaryBluePale5: $secondaryBluePale5;

    inputBorderColor: $inputBorderColor;
    inputFocusColor: $inputFocusColor;
    inputFocusBorderWidth: $inputFocusBorderWidth;
}