$maxAppWidth: 1366px;

$primaryBlueLight: #F5F8FD;
$primaryAnthracite100: #1A2328;
$primaryAnthracite80: #484F53;
$primaryAnthracite70: #5F6569;
$primaryAnthracite50: #8C9193;
$primaryAnthracite25: #C6C8C9;

$secondaryBluePale100: #0088DA;
$secondaryBluePale40: #BAC6D8;
$secondaryBluePale30: #CBD4E2;
$secondaryBluePale15: #E5EAF0;
$secondaryBluePale10: #EEF1F5;
$secondaryBluePale5: #F6F8FA;

$borderRadius: 5px;

$inputFontSize: 14px;
$inputHeight: 40px;
$inputPadding: 11px 0 11px 12px; 
$inputBorderColor: $secondaryBluePale40;
$inputBorder: 1px solid $inputBorderColor;

$inputFocusColor: $secondaryBluePale100;
$inputFocusBorderWidth: 2px;

$avatarBorderColor: $secondaryBluePale15;

@mixin buttonSize {
    height: 40px;
    min-width: 40px;
    margin: 0 2px;
}

@mixin fadeIn {
    opacity: 0;
    animation: opacity 0.3s forwards 0.1s;

    @keyframes opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}