$secondary_blue_pale_100: #0088DA;

$primary_blue_light: #F5F8FD;

$primary_anthracite_100: #1A2328;
$primary_anthracite_80: #484F53;
$primary_anthracite_70: #5F6569;
$primary_anthracite_50: #8C9193;
$primary_anthracite_25: #C6C8C9;

$secondary_blue_pale_100: #0088DA;
$secondary_blue_pale_40: #BAC6D8;
$secondary_blue_pale_30: #CBD4E2;
$secondary_blue_pale_15: #E5EAF0;
$secondary_blue_pale_10: #EEF1F5;
$secondary_blue_pale_5: #F6F8FA;

$inputBorderColor: $secondary_blue_pale_40;
$inputFocusColor: $secondary_blue_pale_100;
$inputFocusBorderWidth: 2px;
