.App {
  border: 1px solid red;
  padding: 55px;
  max-width: 1366px;
  margin: auto;
}

h1 {
  font-size: 24px;
  padding-bottom: 24px;
}

.content {
  width: 100%;
}

.filters {
  display: flex; 
  gap: 48px;
}