table {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 18px #DDE3EC);
    border-collapse: collapse;
    margin-top: 1.5rem;
    table-layout: fixed;
    color: var(--primary-anthracite-100);
    font-size: 15px;
}

table > thead tr > th { 
    font-size: 14px;
    padding: 12px 0;
    text-align: left;
}

table > tbody > tr.inactive {
    background-color: var(--secondary-blue-pale-5);
}

table > tbody > tr > td, 
table > tbody > tr > td > span { 
    padding: 16px 16px 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table > thead > tr > th:first-of-type, 
table > tbody > tr > td:first-of-type { 
    padding-left: 24px;
}


table > tbody tr.inactive {
    color: var(--primary-anthracite-70);
}

table > tbody tr td .species {
    color: var(--primary-anthracite-80);
}

table > tbody tr.inactive td .species {
    color: var(--primary-anthracite-50);
}

table > tbody tr td.unknown {
    color: var(--primary-anthracite-70);
}

table > tbody tr.inactive td.unknown {
    color: var(--primary-anthracite-25);
}

table > tbody td {
    border-top: 1px solid var(--secondary-blue-pale-30);
}